.header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    align-items: center;
    height: 4.5em;
    background: var(--color-white);
    box-shadow: 0 0 1em var(--color-mine-a16);
}

.header-login {
    margin: 0 8px 0 auto;
}

.header-basket {
    min-width: auto;
    border: none;
    margin-left: 8px;
}

@media (max-width: 425px) {
    .header-basket {
        display: none;
    }
}