.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
}

.grid > * {
    background: blue;
    color: #fff;
    padding: 2em;
    border-radius: 1em;
}