@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('assets/fonts/Roboto.woff2') format('woff2'), url('assets/fonts/Roboto.woff') format('woff'), url('assets/fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('assets/fonts/Robotoitalic.woff2') format('woff2'), url('assets/fonts/Robotoitalic.woff') format('woff'), url('assets/fonts/Robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('assets/fonts/Robotomedium.woff2') format('woff2'), url('assets/fonts/Robotomedium.woff') format('woff'), url('assets/fonts/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('assets/fonts/Robotomediumitalic.woff2') format('woff2'), url('assets/fonts/Robotomediumitalic.woff') format('woff'), url('assets/fonts/Robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('assets/fonts/Robotobold.woff2') format('woff2'), url('assets/fonts/Robotobold.woff') format('woff'), url('assets/fonts/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('assets/fonts/Robotobolditalic.woff2') format('woff2'), url('assets/fonts/Robotobolditalic.woff') format('woff'), url('assets/fonts/Robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
